# Ignorar entorno virtual
entorno_django/

# Python __pycache__
apps/dashboard/__pycache__/
apps/dashboard/migrations/__pycache__/
apps/tasks/__pycache__/
apps/tasks/migrations/__pycache__/
argon/__pycache__/

# Base de datos y configuración
conf/
photos/
db.sqlite3
.env
